.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(112, 87%, 51%, 0.681);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.card {
  background-color: rgb(8, 73, 108);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 100%;
  height: 150px;
  padding:10%;
  object-fit: contain;
  background-color: #f4f4f4;
}

.info {
  padding: 15px;
  text-align: left;
}

.info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.info p {
  font-size: 14px;
  color: hsl(220, 11%, 43%);
  margin-bottom: 5px;
}

.info strong {
  color: #f4f4f4;
}